body{
    background:url(imagen/fondo1.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: cover;
}
table{
    position: relative;
    left: 60px;
    background-color:rgba(253, 253, 253, 0.699);
    border: 7px solid #1eff00;
    /*border: 7px solid rgb(22, 219, 245);*/
    width: 90%;
}
table img{
    margin:auto;
    width: 273px;
    padding: 10px;
    border-radius: 50%;
    border: 4px solid #000;
}
p{
    font-size: 30px;
    font-weight:bold ;
    color: rgb(0, 0, 0);
}
h1{
    font-size: 50px;
    background: #000;
}
button{
    background-color: chartreuse;
    padding: 10px 20px;
    border-radius: 15%;
}
hr{
    border: 3px solid #000;
}